<!DOCTYPE html>
<html class="text-lg" lang="de">
	<head>
		<title>Accessibility / Barrierefreiheit Crash Course</title>
		<link href="<%- config.base %>/assets/css/styles.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Dario Baumberger">
		<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
        <link rel="icon" type="image/png" href="/assets/images/favicon.png">
	</head>
	<body>