<html class="text-lg" lang="de">
	<head>
		<title>Accessibility / Barrierefreiheit Crash Course</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css" rel="stylesheet">
		<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
		<link href="/static/css/styles.css" rel="stylesheet">

	</head>
	<body>
	<%- include('header')-%>
	<main class="flex min-h-screen flex-col">
	<div class="container m-auto mt-20">
		
	