<%- include('../partials/head')-%>
<div class="flex justify-end">
    <aside class="bg-teal-700 text-white fixed pt-6 top-0 bottom-0 left-0 min-h-screen overflow-auto hidden md:block md:w-2/6">
        <nav class="mb-12">
            <ul>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#tools-für-diesen-crash-kurs">Tools für diesen Crash Kurs</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#wieso-">Wieso ?!</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="">Für wen?</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="">Wen betrifft das?</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="">Farben</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="">HTML Elements</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="">Texte</a>
                    <ul>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="">Schriftarten</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="">Schriftgrössen</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="">Schriftfarben</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="">Headings / Überschriften</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="">Text / Paragraph</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="">Link</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="">Bold/Strong</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="">Italic/Kursiv</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="">Text Styling</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="">Listen</a>
                    <ul>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="">Orderd List</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="">Unorderd List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="">Tabellen</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="">Bilder</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="">Formulare</a>
                    <ul>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="">Inputs and Labels</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="">Fieldset (Gruppen)</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="">Komplexerre Inputs / Gruppen & Formularabschnitte</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="">Aria-Attribute, Role-Attribute und Tabindex-Attribut</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="">Tabindex</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="">CSS Einfluss</a>
                </li>
            </ul>
        </nav>
        <a href="/presentation/0" class="bg-teal-700 hover:bg-teal-900 fixed left-0 w-2/6 bottom-0 h-12 py-2 px-4 transition-all duration-300 border-t border-white">Presentation</a>
    </aside>
    <main class="flex min-h-screen flex-col md:w-4/6">
<div class="mx-8 w-auto md:mx-auto mt-20 text-lg lg:max-w-screen-md md:max-w-screen-sm">
<%- content %>
</div>
</div>
<%- include('../partials/footer')-%>
