<%- include ('../partials/head') %>
<div class="flex justify-end">
    <aside class="bg-teal-700 text-white fixed pt-6 top-0 bottom-0 left-0 min-h-screen overflow-auto hidden md:block md:w-2/6">
        <nav class="mb-12">
            <ul>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#tools-für-diesen-crash-kurs">Tools für diesen Crash Kurs</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#wieso-">Wieso ?!</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#für-wen">Für wen?</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#wen-betrifft-das">Wen betrifft das?</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#farben">Farben</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#html-elements">HTML Elements</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#text--schrift">Text / Schrift</a>
                    <ul>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="/#schriftarten">Schriftarten</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="/#schriftgrössen">Schriftgrössen</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="/#schriftfarben">Schriftfarben</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="/#headings--überschriften">Headings / Überschriften</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="/#text--paragraph">Text / Paragraph</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="/#link">Link</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="/#boldstrong">Bold/Strong</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="/#italickursiv">Italic/Kursiv</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="/#text-styling--css-styles">Text Styling / CSS Styles</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#listen">Listen</a>
                    <ul>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="/#orderd-list-ol">Orderd List</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="/#unorderd-list-ul">Unorderd List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#tabellen">Tabellen</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#bilder">Bilder</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#formulare">Formulare</a>
                    <ul>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="/#inputs-and-labels">Inputs and Labels</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="/#fieldset-gruppen">Fieldset (Gruppen)</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="/#komplexerre-inputs--gruppen--formularabschnitte">Komplexerre Inputs / Gruppen & Formularabschnitte</a>
                        </li>
                        <li>
                            <a class="py-2 px-16 hover:bg-teal-900 transition-all duration-300 block" href="/#aria-attribute-role-attribute-und-tabindex-attribut">Disabled</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#aria-attribute-role-attribute-und-tabindex-attribut">Aria-Attribute, Role-Attribute und Tabindex-Attribut</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#tabindex">Tabindex</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#css-einfluss">CSS Einfluss</a>
                </li>
                <li>
                    <a class="py-2 px-10 hover:bg-teal-900 transition-all duration-300 block" href="/#screenreader">Screenreader</a>
                </li>
            </ul>
        </nav>
        <a href="/presentation/0" class="bg-teal-700 hover:bg-teal-900 fixed left-0 w-2/6 bottom-0 h-12 py-2 px-4 transition-all duration-300 border-t border-white">Presentation</a>
    </aside>
    <main class="flex min-h-screen flex-col md:w-4/6">
<div class="mx-8 w-auto md:mx-auto mt-20 text-lg lg:max-w-screen-md md:max-w-screen-sm">
<%- content %>
</div>
</div>
<%- include('../partials/footer')-%>
