<!DOCTYPE html>
<html class="text-lg" lang="de">
	<head>
		<title>Accessibility / Barrierefreiheit Crash Course</title>
		<link href="<%- config.base %>/static/css/styles.css" rel="stylesheet">
	</head>
	<body>

		
